<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container">
    <nav class="w3-bar">
  
    
      <a href="#">Quotes App</a>
    
   
      <a href="/quotes">Quotes</a>
      <a href="/static_pages/home">home</a>
      <a href="/static_pages/help">help</a>
      <a href="/static_pages/about">about</a>
    
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
